
@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');

*
	{
  		box-sizing: border-box; 
	}

h1,
h2,
h3,
h4 {
    margin: .1rem 0;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
    /* padding-left: 20px; */
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: 1rem;
    font-style: italic;
}

body 
	{
		font-family: Arial, Helvetica, sans-serif;
	}

.body-container 
	{
		display: flex;
		flex-direction: column;
  		margin: 0;
	}

.header-container
	{
		display: flex;
		flex-direction: column;
	}
	
.article-container
	{
		display: flex;
		flex-direction: column;
	}

/* pc */
@media screen and (min-width: 1280px) {

	.body-container-item {
		order: 1;
  		flex: 1 100%;
		width: 100%;
  		align-content: flex-start;
	}
	.header-container-item-1 {
		order: 1;
		background: #000000;
  		flex: 1 100%;
		width: 100%;
	}
	.header-container-item-1 a img {
  		height: auto;
  		/* Recommended - Limit maximum width */
  		max-width: 400px;
	}
	.header-container-item-2 {
		order: 2;
		background: #757171;
  		flex: 100%;
		width: 100%;
	}
	.header-container-item-3 {
		order: 3;
		background: #aeaaaa;
  		flex: 100%;
		width: 100%;
		flex-grow: 1;
	}
	.header-container-item-4 {
		order: 4;
		background: #4472c4;
  		flex: 100%;
		width: 100%;
	}
	/* index video */
	.body-container-item-1 {
		order: 2;
		background: #f8cbad;
		color: #000000;
	}

	.body-container-item-1 .videoInsert {
		
		min-width: 100%; 
		min-height: 100%;
		width: auto; 
		height: auto; 
		overflow: hidden;
	} 
	/* index articles */
	.body-container-item-2 {
		order: 3;
	}
	.body-container-item-2 article:nth-child(1) {
		background: #e2efda; 
	}
	.body-container-item-2 article:nth-child(2) {
		background: #c6e0b4; 
	}
	.body-container-item-2 article:nth-child(3) {
		background: #a9d08e; 
	}
	.body-container-item-2 img {
		max-width: 20%;
		/* height: auto;
		float: right; */
	}
	/* index aside */
	.body-container-item-3 {
		order: 4;
	}
	.body-container-item-4 {
		order: 5;
		background: #000000;
  		flex: 1 100%;
	}

}
/* mobile */
@media screen and (min-width: 480px) {

}
/* tablet */
@media screen and (max-width: 1179px) and (min-width:481px ){

}