
@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');

*
	{
  		box-sizing: border-box; 
	}

h1,
h2,
h3,
h4 {
    margin: .1rem 0;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: 1rem;
    font-style: italic;
}

body 
	{
		font-family: Arial, Helvetica, sans-serif;
	}

.body-container 
	{
		display: flex;
		flex-wrap: wrap;
	}

.header-container
	{
		display: flex;
		flex-direction: column;
	}
	
.article-container
	{
		display: flex;
    	flex-direction: column;
	}
/* pc */
@media screen and (min-width: 1280px) {

	.body-container-item-1 {
		order: 1;
		width: 100vw;
	}
	.header-container-item-1 {
		order: 1;
		background: #000000;
  		flex: 1 100%;
		width: 100%;
	}
	.header-container-item-1 a img {
  		height: auto;
  		/* Recommended - Limit maximum width */
  		max-width: 400px;
	}
	.header-container-item-2 {
		order: 2;
		background: #757171;
  		flex: 100%;
		width: 100%;
	}
	.header-container-item-3 {
		order: 3;
		background: #aeaaaa;
  		flex: 100%;
		width: 100%;
		flex-grow: 1;
	}
	.header-container-item-4 {
		order: 4;
		background: #4472c4;
  		flex: 100%;
		width: 100%;
	}
	/* index video */
	.body-container-item-2 {
		order: 2;
		width: 100vw;
		background: #f8cbad;
		color: #000000;
		flex-grow: 1;
		flex-shrink: 1;
    	display: block;
	}
	.body-container-item-2 .videoTag {
		min-width: 100%; 
		min-height: 100%;
		max-width: 100%; 
		min-height: 100%;
		width: auto; 
		height: auto;
	} 
	/* index articles */
	.body-container-item-3 {
		order: 3;
		flex: 1;
	}
	.body-container-item-3 article:nth-child(1) {
		background: #e2efda; 
	}
	.body-container-item-3 article:nth-child(2) {
		background: #c6e0b4; 
	}
	.body-container-item-3 article:nth-child(3) {
		background: #a9d08e; 
	}
	.article-container-item {
		padding-left: 1%;
		flex: 1;
	}
	.article-container-item header {
		float: right;
		max-width: 25vw;
	}
	.article-container-item header figure a img {
		max-width: 20vw;
		height: auto;
	}
	/* index aside */
	.body-container-item-4 {
		order: 4;
		width: 250px;
		position: inherit;
		background: #fff2cc;
	}
	.body-container-item-4 .aside {
		width: 200px;
		color: #000000;
	}
	/* index footer */ 
	.body-container-item-5 {
		order: 5;
		width: 100vw;
		background: #000000;
		color: #ffffff;
	}

}
/* mobile */
@media screen and (min-width: 480px) {

}
/* tablet */
@media screen and (max-width: 1179px) and (min-width:481px ){

}