    @import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
    }
    
    h1 {
        font-size: 2rem;
    }
    
    h2 {
        font-size: 1.5rem;
    }
    
    h3 {
        font-size: 1.2rem;
    }
    
    h4 {
        font-size: 1rem;
        font-style: italic;
    }
    
    .body-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    
    .header-container {
        display: flex;
        flex-wrap: wrap;
        /* justify-content: flex-start; */
    }
    
    .article-container {
        display: flex;
        flex-direction: column;
    }
    
    .form-container {
        display: flex;
        flex-direction: column;
    }
    
    .footer-container {
        display: flex;
        flex-wrap: wrap;
    }
    
    .contact-aside-container {
        display: flex;
        flex-wrap: wrap;
    }
    /* contact form specific  */
    
    .contact-aside-container-item {
        align-content: center;
    }
    
    .contact-aside-container-item img,
    .contact-aside-container-item figcaption {
        flex: 1 1 100%;
        max-width: 98%;
        padding: 0.5vw;
    }
    
    .form-container {
        flex: 0 1 100%;
        padding: 20px;
        margin: 10px;
    }
    
    .form-container-item {
        flex: 0 1 100%;
        margin-top: 10px;
    }
    
    .item-input {
        border: 0;
        border-bottom: 2px solid #757171;
        outline: 0;
        font-size: 1.3rem;
        color: #000000;
        padding: 7px 0;
    }
    
    .item-button {
        border-radius: 4px;
        border-bottom: 2px solid #757171;
        outline: 0;
        font-size: 1.3rem;
        color: #000000;
        padding: 8px 18px;
    }
    /* Hamburger menu */
    
    #navburger {
        background-color: #4472c4;
        box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
        position: relative;
        width: 5vw;
        z-index: 4;
    }
    
    #navburger ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        background-color: #4472c4;
    }
    
    #navburger li a {
        display: block;
        padding: 20px 20px;
        border-right: 1px solid #f4f4f4;
        text-decoration: none;
    }
    
    #navburger li a:hover,
    #navburger .menu-btn:hover {
        background-color: #f4f4f4;
    }
    
    #navburger .logo {
        display: block;
        float: left;
        font-size: 2em;
        /* padding: 10px 20px; */
        text-decoration: none;
    }
    /* menu */
    
    #navburger .menu {
        clear: both;
        max-height: 0;
        transition: max-height .2s ease-out;
    }
    /* menu icon */
    
    #navburger .menu-icon {
        cursor: pointer;
        float: right;
        padding: 28px 20px;
        position: relative;
        user-select: none;
    }
    
    #navburger .menu-icon .navicon {
        background: #333;
        display: block;
        height: 2px;
        position: relative;
        transition: background .2s ease-out;
        width: 18px;
    }
    
    #navburger .menu-icon .navicon:before,
    #navburger .menu-icon .navicon:after {
        background: #333;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }
    
    #navburger .menu-icon .navicon:before {
        top: 5px;
    }
    
    #navburger .menu-icon .navicon:after {
        top: -5px;
    }
    /* menu btn */
    
    #navburger .menu-btn {
        display: none;
    }
    
    #navburger .menu-btn:checked~.menu {
        max-height: 240px;
    }
    
    #navburger .menu-btn:checked~.menu-icon .navicon {
        background: transparent;
    }
    
    #navburger .menu-btn:checked~.menu-icon .navicon:before {
        transform: rotate(-45deg);
    }
    
    #navburger .menu-btn:checked~.menu-icon .navicon:after {
        transform: rotate(45deg);
    }
    
    #navburger .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
    #navburger .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
        top: 0;
    }
    /* Tickets table specifics */
    
    table {
        border-collapse: collapse;
    }
    
    tr:nth-of-type(odd) {
        background: #aeaaaa;
    }
    
    th {
        background: #333333;
        color: #ffffff;
    }
    
    td,
    th {
        padding: 2px;
        border: 1px solid #ccc;
        text-align: center;
    }
    /* pc */
    
    @media screen and (min-width: 1280px) {
        .body-container-item {}
        .body-container-item:nth-child(1) {
            order: 1;
            flex: 0 0 100%;
        }
        .body-container-item:nth-child(2) {
            order: 2;
            flex: 0 0 100%;
            background: #fff2cc;
        }
        #index-section-2.body-container-item {
            width: 100vw;
            color: #000000;
            flex-grow: 1;
            flex-shrink: 1;
            display: block;
        }
        #index-section-2.body-container-item .videoTag {
            min-width: 100%;
            min-height: 100%;
            max-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
        }
        .body-container-item:nth-child(3) {
            order: 3;
            flex: 0 0 70%;
            background: #bdd7ee;
        }
        #index-section-3.body-container-item {
            flex: 1 0 70%;
        }
        .body-container-item article:nth-child(1) {
            background: #e2efda;
            order: 1;
        }
        .body-container-item article:nth-child(2) {
            background: #c6e0b4;
            order: 2;
        }
        .body-container-item article:nth-child(3) {
            background: #a9d08e;
            order: 3;
        }
        .article-container-item {
            padding-left: 1%;
            flex: 1;
        }
        .article-container-item header {
            float: right;
            max-width: 25vw;
        }
        .article-container-item header figure a img {
            max-width: 20vw;
            height: auto;
        }
        .body-container-item:nth-child(4) {
            order: 4;
            background-color: #bdd7ee;
        }
        #index-section-4.body-container-item {
            width: 250px;
            position: inherit;
            background: #fff2cc;
        }
        #index-section-4 .without-aside {
            display: none;
        }
        #index-section-4 .aside {
            margin-left: 30px;
            width: 200px;
            color: #000000;
        }
        #tickets-section-4.body-container-item {
            flex: 0 0 30%;
        }
        #contact-section-4.body-container-item {
            flex: 0 0 30%;
        }
        .ticket-aside-container-item img {
            flex: 1 1 100%;
            max-width: 98%;
            padding: 0.5 vw;
        }
        .body-container-item:nth-child(5) {
            order: 5;
            flex: 0 0 100%;
            background-color: #bdd7ee;
        }
        /* header */
        .header-container-item {}
        .header-container-item:nth-child(1) {
            order: 1;
            flex: 0 0 100%;
            background: #000000;
            color: #ffffff;
            min-height: 240px;
            padding-top: 20px;
            padding-left: 20px;
        }
        .header-container-item:nth-child(2) {
            order: 2;
            flex: 0 0 100%;
            background: #757171;
            color: #ffffff;
            padding-top: 20px;
            padding-left: 20px;
            padding-bottom: 20px;
        }
        .header-container-item:nth-child(3) {
            order: 3;
            flex: 0 0 100%;
            background: #aeaaaa;
            color: #ffffff;
            padding-top: 20px;
            padding-left: 20px;
            padding-bottom: 20px;
        }
        .header-container-item:nth-child(4) {
            order: 4;
            flex: 0 0 100%;
            background: #4472c4;
            color: #ffffff;
        }
        .header-container-item h1,
        .header-container-item h2 {
            padding-left: 5px;
            height: auto;
        }
        .header-container-item:nth-child(1) a img {
            height: auto;
            /* Recommended - Limit maximum width */
            max-width: 400px;
        }
        /* Footer */
        .footer-container {
            min-height: 70px;
            /* justify-content: center; */
        }
        .footer-container-item:nth-child(1) {
            order: 2;
            background-color: rgb(255, 199, 44, 0.5);
            flex: 0 1 30%;
            padding-top: 20px;
            text-align: center;
            justify-content: center;
        }
        .footer-container-item:nth-child(2) {
            order: 1;
            background: #d6dce4;
            flex: 0 1 70%;
            padding-top: 20px;
            text-align: center;
        }
        /* Regular menu */
        #navburger li {
            float: left;
        }
        #navburger li a {
            padding: 20px 30px;
        }
        #navburger .menu {
            clear: none;
            float: left;
            max-height: none;
        }
        #navburger .menu-icon {
            display: none;
        }
        /* Tickets table specifics */
        table {
            width: 70vw;
            max-width: 69vw;
            margin-top: 10px;
        }
    }
    /* tablet */
    
    @media screen and (min-width:481px) and (max-width: 1279px) {
        .body-container-item {}
        .body-container-item:nth-child(1) {
            order: 1;
            flex: 0 0 100%;
        }
        .body-container-item:nth-child(2) {
            background: #fff2cc;
        }
        #index-section-2.body-container-item {
            order: 3;
            flex: 0 0 100%;
            background: #f8cbad;
            color: #000000;
            flex-grow: 1;
            flex-shrink: 1;
            display: block;
        }
        #index-section-2.body-container-item .videoTag {
            min-width: 100%;
            min-height: 100%;
            max-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
        }
        #contact-section-2.body-container-item {
            order: 2;
            flex: 0 0 100%;
        }
        #tickets-section-2.body-container-item {
            order: 2;
            flex: 0 0 100%;
        }
        .body-container-item:nth-child(3) {
            background: #bdd7ee;
        }
        #index-section-3.body-container-item {
            order: 4;
            flex: 0 0 70%;
        }
        #tickets-section-3.body-container-item {
            order: 3;
            flex: 0 0 100%;
        }
        #contact-section-3.body-container-item {
            order: 3;
            flex: 0 0 70%;
        }
        #index-section-3.body-container-item {
            flex: 0 0 70%;
        }
        #index-section-3.body-container-item article:nth-child(1) {
            background: #e2efda;
            order: 3;
        }
        #index-section-3.body-container-item article:nth-child(2) {
            background: #c6e0b4;
            order: 2;
        }
        #index-section-3.body-container-item article:nth-child(3) {
            background: #a9d08e;
            order: 1;
        }
        .article-container-item {
            width: 100vw;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
        }
        .article-container-item header {
            order: 1;
            max-width: 24vw;
            margin: auto;
            overflow: hidden;
        }
        .article-container-item header figure a img {
            flex: 1;
            width: 20vw;
            max-width: 24vw;
        }
        .article-container-item p {
            order: 2;
            max-width: 74vw;
            width: 74vw;
            margin-top: 5px;
        }
        .article-container-item footer {
            order: 3;
            max-width: 14vw;
            width: 14vw;
            margin-bottom: 5px;
            margin-right: 5px;
        }
        .body-container-item:nth-child(4) {
            background-color: #bdd7ee;
        }
        #index-section-4.body-container-item {
            order: 2;
            flex: 0 0 100%;
            background: #fff2cc;
        }
        #index-section-4.body-container-item.without-aside {
            color: #000000;
            flex: 1;
            padding-left: 5%;
        }
        #index-section-4.body-container-item .aside {
            display: none;
        }
        #tickets-section-4.body-container-item {
            order: 4;
            flex: 0 0 100%;
        }
        #contact-section-4.body-container-item {
            order: 4;
            flex: 0 0 30%;
        }
        .ticket-aside-container {
            display: flex;
        }
        .ticket-aside-container figure:nth-child(1) {
            display: none;
        }
        .ticket-aside-container figure:nth-child(2) {
            order: 1;
        }
        .ticket-aside-container figure:nth-child(3) {
            order: 2;
        }
        .ticket-aside-container figure {
            width: 50vw;
            flex: 1 50%;
        }
        .ticket-aside-container-item a img {
            width: 50vw;
            flex: 1 50%;
        }
        .body-container-item:nth-child(5) {
            order: 5;
            flex: 0 0 100%;
            background-color: #bdd7ee;
        }
        /* header */
        .header-container-item {}
        .header-container-item:nth-child(1) {
            order: 1;
            flex: 0 0 100%;
            background: #000000;
            color: #ffffff;
            min-height: 240px;
            padding-top: 20px;
            padding-left: 20px;
        }
        .header-container-item:nth-child(2) {
            order: 2;
            flex: 0 0 100%;
            background: #757171;
            color: #ffffff;
            padding-top: 20px;
            padding-left: 20px;
            padding-bottom: 20px;
        }
        .header-container-item:nth-child(3) {
            order: 3;
            flex: 0 0 100%;
            background: #aeaaaa;
            color: #ffffff;
            padding-top: 20px;
            padding-left: 20px;
            padding-bottom: 20px;
        }
        .header-container-item:nth-child(4) {
            order: 4;
            flex: 0 0 100%;
            background: #4472c4;
            color: #ffffff;
        }
        .header-container-item h1,
        .header-container-item h2 {
            padding-left: 5px;
            height: auto;
        }
        .header-container-item:nth-child(1) a img {
            height: auto;
            /* Recommended - Limit maximum width */
            max-width: 400px;
        }
        /* Footer */
        .footer-container {
            min-height: 70px;
            /* justify-content: center; */
        }
        .footer-container-item:nth-child(1) {
            order: 2;
            background-color: rgb(255, 199, 44, 0.5);
            flex: 0 1 30%;
            padding-top: 20px;
            text-align: center;
            justify-content: center;
        }
        .footer-container-item:nth-child(2) {
            order: 1;
            background: #d6dce4;
            flex: 0 1 70%;
            padding-top: 20px;
            text-align: center;
        }
        /* Regular menu */
        #navburger li {
            float: left;
        }
        #navburger li a {
            padding: 20px 30px;
        }
        #navburger .menu {
            clear: none;
            float: left;
            max-height: none;
        }
        #navburger .menu-icon {
            display: none;
        }
        /* Tickets table specifics */
        table {
            width: 100vw;
            margin-top: 10px;
        }
    }
    /* mobile */
    
    @media screen and (max-width: 480px) {
        .body-container-item {}
        .body-container-item:nth-child(1) {
            order: 1;
            flex: 0 0 100%;
        }
        .body-container-item:nth-child(2) {
            flex: 0 0 100%;
            background: #fff2cc;
        }
        #index-section-2.body-container-item {
            display: none;
        }
        #contact-section-2.body-container-item {
            order: 2;
        }
        #tickets-section-2.body-container-item {
            order: 2;
        }
        .body-container-item:nth-child(3) {
            flex: 0 0 100%;
            background: #bdd7ee;
        }
        #index-section-3.body-container-item {
            order: 3;
        }
        /* index articles */
        #index-section-3.body-container-item article:nth-child(1) {
            background: #e2efda;
            order: 3;
        }
        #index-section-3.body-container-item article:nth-child(2) {
            background: #c6e0b4;
            order: 2;
        }
        #index-section-3.body-container-item article:nth-child(3) {
            background: #a9d08e;
            order: 1;
        }
        .article-container-item {
            width: 100vw;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
        }
        .article-container-item header {
            order: 3;
            max-width: 100vw;
            margin: auto;
            overflow: hidden;
        }
        .article-container-item header figure a img {
            flex: 1;
            width: 100vw;
            max-width: 100vw;
        }
        .article-container-item p {
            order: 1;
            width: 98vw;
            margin-top: 5px;
        }
        .article-container-item footer {
            order: 2;
            width: 98vw;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        #contact-section-3.body-container-item {
            order: 3;
        }
        #tickets-section-3.body-container-item {
            order: 3;
        }
        .body-container-item:nth-child(4) {
            flex: 0 0 100%;
            background-color: #bdd7ee;
        }
        #index-section-4.body-container-item {
            order: 2;
        }
        #index-section-4.body-container-item .without-aside {
            color: #000000;
            flex: 1;
            padding-left: 5%;
        }
        #index-section-4.body-container-item .aside {
            display: none;
        }
        #contact-section-4.body-container-item {
            order: 4;
        }
        #tickets-section-4.body-container-item {
            order: 4;
        }
        .ticket-aside-container-item {
            align-content: center;
        }
        .ticket-aside-container-item img,
        .ticket-aside-container-item figcaption {
            flex: 1 1 100%;
            max-width: 98%;
            padding: 0.5vw;
        }
        .body-container-item:nth-child(5) {
            flex: 0 0 100%;
            background-color: #bdd7ee;
        }
        #index-footer-5.body-container-item {
            order: 4;
        }
        #contact-footer-5.body-container-item {
            order: 5;
        }
        #tickets-footer-5.body-container-item {
            order: 5;
        }
        /* header */
        .header-container-item {}
        .header-container-item:nth-child(1) {
            display: none;
        }
        .header-container-item:nth-child(2) {
            order: 1;
            width: 90vw;
            flex: 0 1 70%;
            background: #757171;
            color: #ffffff;
            padding-top: 20px;
            padding-left: 20px;
            padding-bottom: 20px;
        }
        .header-container-item:nth-child(3) {
            order: 3;
            width: 100vw;
            flex: 1 1 100%;
            background: #aeaaaa;
            color: #ffffff;
            padding-top: 20px;
            padding-left: 20px;
            padding-bottom: 20px;
        }
        .header-container-item:nth-child(4) {
            order: 2;
            width: 10vw;
            flex: 1;
            background: #4472c4;
            color: #ffffff;
            flex-flow: wrap;
        }
        .header-container-item h1,
        .header-container-item h2 {
            padding-left: 5px;
            height: auto;
            flex: 1;
        }
        .header-container-item:nth-child(1) a img {
            height: auto;
            /* Recommended - Limit maximum width */
            max-width: 400px;
        }
        /* Footer */
        .footer-container {
            min-height: 70px;
        }
        .footer-container-item:nth-child(1) {
            order: 2;
            background-color: rgb(255, 199, 44, 0.5);
            flex: 0 1 30%;
            padding-top: 20px;
            text-align: center;
            justify-content: center;
            z-index: 9999;
        }
        .footer-container-item:nth-child(2) {
            order: 1;
            background: #d6dce4;
            flex: 0 1 70%;
            padding-top: 20px;
            text-align: center;
        }
        /*Ham menu*/
        /* Tickets table specifics */
        table {
            width: 100vw;
            margin-top: 10px;
            font-size: 0.4em;
        }
    }